div.app {
	width: 90%;
	margin: 0 auto;

	display: flex;
	flex-direction: column;
	min-height: 100vh;
	color: #222;
}
header {
	flex-basis: 20vh;
	color: white;
}
main {
	padding: 30px 0;
	flex-grow: 1;
	display: flex;
}
footer {
	background-color: black;
	color: white;
	padding: 10px 0;
	text-align: center;
	text-transform: uppercase;
}
aside {
	min-width: 240px;
}
section.page {
	/* //background-color: rgb(239, 236, 232); */
	flex-grow: 1;
}
