div.app {
	width: 90%;
	margin: 0 auto;

	display: flex;
	flex-direction: column;
	min-height: 100vh;
	color: #222;
}
header {
	flex-basis: 20vh;
	color: white;
}
main {
	padding: 30px 0;
	flex-grow: 1;
	display: flex;
}
footer {
	background-color: black;
	color: white;
	padding: 10px 0;
	text-align: center;
	text-transform: uppercase;
}
aside {
	min-width: 240px;
}
section.page {
	/* //background-color: rgb(239, 236, 232); */
	flex-grow: 1;
}

.dialog {
	background-color: #dae5e9;
	border: none;
	border-radius: 20px;
	font-size: 12px;
	padding: 20px;
	position: absolute;
	top: 50%;
	left: 50%;
	min-height: 200px;
	min-width: 300px;
	transform: translate(-50%, -50%);
	box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
	display: flex;
	flex-direction: column;
	padding: 25px;
}
dialog:modal {
	background-color: #dae5e9;
	border: none;
	border-radius: 20px;
	font-size: 12px;
	padding: 20px;
	position: absolute;
	top: 50%;
	left: 50%;
	min-height: 200px;
	min-width: 300px;
	transform: translate(-50%, -50%);
	box-shadow: rgba(87, 12, 12, 0.35) 0px 5px 15px;
	display: flex;
	flex-direction: column;
	padding: 25px;
	justify-content: space-around;
}

.dialog[open]::backdrop {
	background-color: rgba(13, 13, 11, 0.25);
}
.dialog button {
	padding: 0.5rem 1rem;
	border: none;
	border-radius: 6px;
	background-color: #243336;
	color: #d2e1e3;
	font-family: 'Roboto Condensed', sans-serif;
	font-size: 1rem;
	cursor: pointer;
	transition: all 0.2s ease-in-out;
	height: 30px;
	width: 100px;
	text-align: center;
}
.buttonSpaceDialog {
	display: flex;
	justify-content: center;
}
.dialog button:hover {
	background-color: #6d8185;
	color: #0a0d0d;
}

.dialog .title {
	text-align: center;
	font-size: 18px;
	text-decoration: underline;
	text-transform: uppercase;
	margin-bottom: 20px;
}
.dialog .description {
	text-align: center;
	font-size: 15px;
}

.titleCloseBtn {
	display: flex;
	justify-content: flex-end;
}

.titleCloseBtn button {
	background-color: transparent;
	border: none;
	font-size: 25px;
	cursor: pointer;
}

.dialog .footer {
	flex: 20%;
	display: flex;
	justify-content: center;
	align-items: flex-end;
}
